* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    --text-color: rgb(80, 81, 85);
    --border-color: #ccc;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    text-decoration: none;
}